<%= content_for :title, "Home" %>

<h1>Movie Guidance</h1>

<div class="wrapper">
  <div>
    <h2>This is my new application for Movies</h2>
    <h3>I really have a plan for it but I am not sure if I'm doing it right.</h3>
    <p>I really think I have to make a plan for how to procceed.</p>
  </div>
  <br>
  <br>
  <div>
    <h5 style="text-align: center;"><strong>Released movies:</strong></h5>
    <div>
      <% if @movies.length > 0 %>
        <ul>
          <% @movies.each do |movie| %>
            <%= render 'movies/movie', movie: movie%>
          <% end %>
        </ul>
      <% else %>
        There are no movies yet.
      <% end %>
    </div>
  </div>
</div>